<a href="https://colab.research.google.com/github/maeve70/codecademy-projects/blob/main/CCMedicalInfoDictProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.) Let's create a dictionary. 

2.) Then, let's update it.

In [ ]:
medical_costs = {"Marina": 6607.0, "Vinay": 3225.0}

medical_costs.update({"Connie": 8886.0, "Isaac": 16444.0, "Valentina": 6420.0})
print(medical_costs)

{'Marina': 6607.0, 'Vinay': 3225.0, 'Connie': 8886.0, 'Isaac': 16444.0, 'Valentina': 6420.0}

Update Vinay's cost b/c it's wrong. Print it out.

In [ ]:
medical_costs["Vinay"] = 3325.0

print(medical_costs)

{'Marina': 6607.0, 'Vinay': 3325.0, 'Connie': 8886.0, 'Isaac': 16444.0, 'Valentina': 6420.0}

In [ ]:
#5, 6
#What's the total costs? Create a variable called total cost & set it to 0.
#Loop through the costs using .values() method to get a total cost 

total_cost = 0

for cost in medical_costs.values():
  total_cost += cost
  

print(total_cost)

41682.0

In [ ]:
#Let's figure out the avg cost

average_cost = total_cost / len(medical_costs)

print("Average Insurance Cost: " + str(average_cost))

Average Insurance Cost: 8336.4

In [ ]:
#8create two lists of names and ages
#9 zip the two lists into one zipped list

names = ["Marina", "Vinay", "Connie", "Isaac", " Valentina"]
ages = [27, 24, 43, 35, 52]

zipped_ages = list(zip(names, ages))
print(zipped_ages)

[('Marina', 27), ('Vinay', 24), ('Connie', 43), ('Isaac', 35), (' Valentina', 52)]

Step 10 Create a dictionary called names_to_ages by using a list comprehension that iterates through zipped_ages and turns each pair into a key : value item.

Print names_to_ages to see the result.

In [ ]:
names_to_ages = {names:ages for [names, ages] in zipped_ages}

print(names_to_ages)

{'Marina': 27, 'Vinay': 24, 'Connie': 43, 'Isaac': 35, ' Valentina': 52}

In [ ]:
#Step 11- create new variable and use the .get method to get marina's age, then pring it out.

marina_age = names_to_ages.get("Marina")

print("Marina's age is " + str(marina_age))

Marina's age is 27

12: create an empty dictionary called medical records
13: add Marina as a key and a dictionary of all her info

In [ ]:
medical_records = {}

medical_records["Marina"] = {"Age": 27, "Sex": "Female", "BMI": 31.1, 
                             "Children": 2, "Smoker": "Non-smoker", 
                             "Insurance_cost": 6607.0}
print(medical_records)

{'Marina': {'Age': 27, 'Sex': 'Female', 'BMI': 31.1, 'Children': 2, 'Smoker': 'Non-smoker', 'Insurance_cost': 6607.0}}

14: do the rest of the ppl & print out

In [ ]:
medical_records["Vinay"] = {"Age": 24, "Sex": "Male", "BMI": 26.9, "Children": 0, "Smoker": "Non-smoker", "Insurance_cost": 3225.0}
medical_records["Connie"] = {"Age": 43, "Sex": "Female", "BMI": 25.3, "Children": 3, "Smoker": "Non-smoker", "Insurance_cost": 8886.0}
medical_records["Isaac"] = {"Age": 35, "Sex": "Male", "BMI": 20.6, "Children": 4, "Smoker": "Smoker", "Insurance_cost": 16444.0}
medical_records["Valentina"] = {"Age": 52, "Sex": "Female", "BMI": 18.7, "Children": 1, "Smoker": "Non-smoker", "Insurance_cost": 6420.0}

print(medical_records)

{'Marina': {'Age': 27, 'Sex': 'Female', 'BMI': 31.1, 'Children': 2, 'Smoker': 'Non-smoker', 'Insurance_cost': 6607.0}, 'Vinay': {'Age': 24, 'Sex': 'Male', 'BMI': 26.9, 'Children': 0, 'Smoker': 'Non-smoker', 'Insurance_cost': 3225.0}, 'Connie': {'Age': 43, 'Sex': 'Female', 'BMI': 25.3, 'Children': 3, 'Smoker': 'Non-smoker', 'Insurance_cost': 8886.0}, 'Isaac': {'Age': 35, 'Sex': 'Male', 'BMI': 20.6, 'Children': 4, 'Smoker': 'Smoker', 'Insurance_cost': 16444.0}, 'Valentina': {'Age': 52, 'Sex': 'Female', 'BMI': 18.7, 'Children': 1, 'Smoker': 'Non-smoker', 'Insurance_cost': 6420.0}}

16: The medical_records dictionary acts like a database of medical records. Let’s access a specific piece of data in medical_records.

Print out Connie’s insurance cost with the following message:

Connie's insurance cost is X dollars.

We can access any records in the dictionary like so:
medical_records["Connie"]["Insurance_cost"]
medical_records["Vinay"]["BMI]

In [ ]:
#Print out connie's insurance cost.

print("Connie's insurance cost is " + str(medical_records["Connie"]["Insurance_cost"]) + " dollars. ")

print(medical_records["Vinay"]["BMI"])

Connie's insurance cost is 8886.0 dollars.
26.9

In [ ]:
#17 remove Vinay
medical_records.pop("Vinay")
print(medical_records)

{'Marina': {'Age': 27, 'Sex': 'Female', 'BMI': 31.1, 'Children': 2, 'Smoker': 'Non-smoker', 'Insurance_cost': 6607.0}, 'Connie': {'Age': 43, 'Sex': 'Female', 'BMI': 25.3, 'Children': 3, 'Smoker': 'Non-smoker', 'Insurance_cost': 8886.0}, 'Isaac': {'Age': 35, 'Sex': 'Male', 'BMI': 20.6, 'Children': 4, 'Smoker': 'Smoker', 'Insurance_cost': 16444.0}, 'Valentina': {'Age': 52, 'Sex': 'Female', 'BMI': 18.7, 'Children': 1, 'Smoker': 'Non-smoker', 'Insurance_cost': 6420.0}}

In [ ]:
#18 write a for loop that goes through each record.
#Remember, you can use the method .items() which gets both key, value.

for name, record in medical_records.items():
  print(name + " is a " + str(record["Age"]) + " y.o " + record["Sex"] + ", " 
        + record["Smoker"] + " with a BMI of " + str(record["BMI"]) + 
        " and an insurance cost of " + str(record["Insurance_cost"]) + " dollars.")

Marina is a 27 y.o Female, Non-smoker with a BMI of 31.1 and an insurance cost of 6607.0 dollars.
Connie is a 43 y.o Female, Non-smoker with a BMI of 25.3 and an insurance cost of 8886.0 dollars.
Isaac is a 35 y.o Male, Smoker with a BMI of 20.6 and an insurance cost of 16444.0 dollars.
Valentina is a 52 y.o Female, Non-smoker with a BMI of 18.7 and an insurance cost of 6420.0 dollars.