<a href="https://colab.research.google.com/github/maeve70/codecademy-projects/blob/main/MedicalInsuranceStringsCC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

replace the "#" with a "$" and assign a new variable to the records called updated_medical-records.

In [ ]:
medical_data = \
"""Marina Allison   ,27   ,   31.1 , 
#7010.0   ;Markus Valdez   ,   30, 
22.4,   #4050.0 ;Connie Ballard ,43 
,   25.3 , #12060.0 ;Darnell Weber   
,   35   , 20.6   , #7500.0;
Sylvie Charles   ,22, 22.1 
,#3022.0   ;   Vinay Padilla,24,   
26.9 ,#4620.0 ;Meredith Santiago, 51   , 
29.3 ,#16330.0;   Andre Mccarty, 
19,22.7 , #2900.0 ; 
Lorena Hodson ,65, 33.1 , #19370.0; 
Isaac Vu ,34, 24.8,   #7045.0"""

# Add your code here
#print(medical_data)

updated_medical_data = medical_data.replace('#', '$')
print(updated_medical_data)

Marina Allison   ,27   ,   31.1 ,
$7010.0   ;Markus Valdez   ,   30,
22.4,   $4050.0 ;Connie Ballard ,43
,   25.3 , $12060.0 ;Darnell Weber
,   35   , 20.6   , $7500.0;
Sylvie Charles   ,22, 22.1
,$3022.0   ;   Vinay Padilla,24,
26.9 ,$4620.0 ;Meredith Santiago, 51   ,
29.3 ,$16330.0;   Andre Mccarty,
19,22.7 , $2900.0 ;
Lorena Hodson ,65, 33.1 , $19370.0;
Isaac Vu ,34, 24.8,   $7045.0

create a variable 'num_records" and then a for loop to loop through the records. each new record starts with a "$" so, use that in the loop. Print out the number of records.

In [ ]:
num_records = 0

for record in updated_medical_data:
  if record == "$":
    num_records +=1

print("There are " +  str(num_records) + " medical records in the data.")

There are 10 medical records in the data.

split the data into records. each is seperated by ";"

In [ ]:
medical_data_split = updated_medical_data.split(";")

print(medical_data_split)

['Marina Allison   ,27   ,   31.1 , \n$7010.0   ', 'Markus Valdez   ,   30, \n22.4,   $4050.0 ', 'Connie Ballard ,43 \n,   25.3 , $12060.0 ', 'Darnell Weber   \n,   35   , 20.6   , $7500.0', '\nSylvie Charles   ,22, 22.1 \n,$3022.0   ', '   Vinay Padilla,24,   \n26.9 ,$4620.0 ', 'Meredith Santiago, 51   , \n29.3 ,$16330.0', '   Andre Mccarty, \n19,22.7 , $2900.0 ', ' \nLorena Hodson ,65, 33.1 , $19370.0', ' \nIsaac Vu ,34, 24.8,   $7045.0']

create a loop to iterate thru the records and create an individual list for each record. The strings split on ","

In [ ]:
#step 7, 8
medical_records = []

for record in medical_data_split:
  medical_records.append(record.split(',')
  )
print(medical_records)

[['Marina Allison   ', '27   ', '   31.1 ', ' \n$7010.0   '], ['Markus Valdez   ', '   30', ' \n22.4', '   $4050.0 '], ['Connie Ballard ', '43 \n', '   25.3 ', ' $12060.0 '], ['Darnell Weber   \n', '   35   ', ' 20.6   ', ' $7500.0'], ['\nSylvie Charles   ', '22', ' 22.1 \n', '$3022.0   '], ['   Vinay Padilla', '24', '   \n26.9 ', '$4620.0 '], ['Meredith Santiago', ' 51   ', ' \n29.3 ', '$16330.0'], ['   Andre Mccarty', ' \n19', '22.7 ', ' $2900.0 '], [' \nLorena Hodson ', '65', ' 33.1 ', ' $19370.0'], [' \nIsaac Vu ', '34', ' 24.8', '   $7045.0']]

create an empty list called medical records clean.
create a loop to iterate through it with an empty list called "records clean".

After the record_clean variable, create a nested for loop that goes through each record:
Inside of this loop, append item.strip() to record_clean to remove any whitespace from the string.
12: Finally, we need to add each cleaned up record to medical_records_clean.

Outside of the nested for loop, append record_clean to medical_records_clean.

print medical_records_clean

In [ ]:
#9, 10, 11, 12, 13
medical_records_clean = []
for record in medical_records:
  record_clean = []
  for item in record:
    record_clean.append(item.strip())
  medical_records_clean.append(record_clean)

print(medical_records_clean)

[['Marina Allison', '27', '31.1', '$7010.0'], ['Markus Valdez', '30', '22.4', '$4050.0'], ['Connie Ballard', '43', '25.3', '$12060.0'], ['Darnell Weber', '35', '20.6', '$7500.0'], ['Sylvie Charles', '22', '22.1', '$3022.0'], ['Vinay Padilla', '24', '26.9', '$4620.0'], ['Meredith Santiago', '51', '29.3', '$16330.0'], ['Andre Mccarty', '19', '22.7', '$2900.0'], ['Lorena Hodson', '65', '33.1', '$19370.0'], ['Isaac Vu', '34', '24.8', '$7045.0']]

you can print out each name by writing a for loop:

In [ ]:
#14
for record in medical_records_clean:
  print(record[0])

Marina Allison
Markus Valdez
Connie Ballard
Darnell Weber
Sylvie Charles
Vinay Padilla
Meredith Santiago
Andre Mccarty
Lorena Hodson
Isaac Vu

Step 15 change names to upper case.
can also do this in the print()

In [ ]:
for record in medical_records_clean:
  record[0]= record[0].upper()
  print(record[0])

MARINA ALLISON
MARKUS VALDEZ
CONNIE BALLARD
DARNELL WEBER
SYLVIE CHARLES
VINAY PADILLA
MEREDITH SANTIAGO
ANDRE MCCARTY
LORENA HODSON
ISAAC VU

Step 16- We want to create lists of each bit of info.

In [ ]:
#16, 17, 18
names =[]
ages = []
bmis = []
insurance_costs = []

for record in medical_records_clean:
  names.append(record[0])
  ages.append(record[1])
  bmis.append(record[2])
  insurance_costs.append(record[3])

print(names)
print(ages)
print(bmis)
print(insurance_costs)

['MARINA ALLISON', 'MARKUS VALDEZ', 'CONNIE BALLARD', 'DARNELL WEBER', 'SYLVIE CHARLES', 'VINAY PADILLA', 'MEREDITH SANTIAGO', 'ANDRE MCCARTY', 'LORENA HODSON', 'ISAAC VU']
['27', '30', '43', '35', '22', '24', '51', '19', '65', '34']
['31.1', '22.4', '25.3', '20.6', '22.1', '26.9', '29.3', '22.7', '33.1', '24.8']
['$7010.0', '$4050.0', '$12060.0', '$7500.0', '$3022.0', '$4620.0', '$16330.0', '$2900.0', '$19370.0', '$7045.0']

what's the sum on the BMIs?

In [ ]:
total_bmi = 0

#again, bmi is a bs number
for bmi in bmis:
  total_bmi += float(bmi)

average_bmi = total_bmi / len(bmis)

print(total_bmi)
print("The avg. bmi is " + str(average_bmi))

258.3
The avg. bmi is 25.830000000000002

Extra: calculate avg ins cost. need to remove the '$' first.
HOW TO REMOVE THE DOLLAR SIGN???? DRIVING ME FUCKING NUTS

In [ ]:
"pita bread".replace('pita ','')
'bread'

'bread'

In [ ]:
#print(insurance_costs) use .lstrip() which is a string method to remove the first??
#or .replace()

total_insurance_costs = 0
for record in insurance_costs:
    record.replace('$', ',')

total_insurance_costs += int(record)

average_insurance_costs = total_insurance_costs/len(insurance_costs)


print(average_insurance_costs)

ValueError: ignored

In [ ]:
#total_insurance_costs = 0

#for cost in insurance_costs:
 # total_insurance_costs += float(cost)
#average_ins_cost = total_insurance_costs / len(cost)

#print(total_insurance_costs)